h1 {	font-size: 28px;
		text-align: center;
		margin: 0;
		margin-bottom: 28px;
		font-family: Georgia;
		color: #eee;
	}

h2 {	font-size: 24px;
		margin: 0 auto;
}


	.veryTopHeader {

		background-color: black;
	}

body {

	background-color: #efeee7;
	font-family: "Georgia",Times,serif;
	color: #333333;
	margin: 0;
	padding: 0;

}
header {

	background-color: #333333;
}

body {

	float: left;
    margin: 0 0 10px 10px;

}

.mainBio {

	width: 70%;

}

.contact {

	width: 30%;
}